<div class="form-body body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Add Product</h3>
          <form novalidate [formGroup]="productForm">

            <div class="col-md-12">
              <input class="form-control" type="number" placeholder="Product ID" formControlName="id" required>
              <div *ngIf="productForm.controls['id'].hasError('required') &&  productForm.controls['id'].touched" class="bg-danger">
                Product Id field cannot be blank!
              </div>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" placeholder="Product Name" required formControlName="name">
              <div *ngIf="productForm.controls['name'].hasError('required') &&  productForm.controls['name'].touched" class="bg-danger">
                Product Name field cannot be blank!
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <input class="form-control" type="number" placeholder="Product Price" formControlName="price" required>
              <div *ngIf="productForm.controls['price'].hasError('required') &&  productForm.controls['price'].touched" class="bg-danger">
                Product Price field cannot be blank!
              </div>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" placeholder="Product Image Link" formControlName="image" required>
              <div *ngIf="productForm.controls['image'].hasError('required') &&  productForm.controls['image'].touched" class="bg-danger">
                Product Image Link field cannot be blank!
              </div>
            </div>

            <div class="col-md-12 mt-3">
              <textarea class="form-control" rows="3" placeholder="Add Description" required formControlName="description"></textarea>
              <div *ngIf="productForm.controls['description'].hasError('required') &&  productForm.controls['description'].touched" class="bg-danger">
                Description field cannot be blank!
              </div>
            </div>

            <!-- <div class="col-md-12">
              <select class="form-select mt-3" required>
                <option selected disabled value="">Position</option>
                <option value="jweb">Junior Web Developer</option>
                <option value="sweb">Senior Web Developer</option>
                <option value="pmanager">Project Manager</option>
              </select>
              <div class="valid-feedback">You selected a position!</div>
              <div class="invalid-feedback">Please select a position!</div>
            </div>


            <div class="col-md-12">
              <input class="form-control" type="password" name="password" placeholder="Password" required>
              <div class="valid-feedback">Password field is valid!</div>
              <div class="invalid-feedback">Password field cannot be blank!</div>
            </div> -->

            <div class="col-md-12 mt-3">
              <label class="mb-3 mr-1" for="productFlag">Product Flag: </label>

              <input type="radio" class="btn-check" name="productFlag" formControlName="productFlag" id="true" autocomplete="off" required value="true">
              <label class="btn btn-sm btn-outline-secondary" for="true">True</label>

              <input type="radio" class="btn-check" name="productFlag" formControlName="productFlag" id="false" autocomplete="off" required value="false">
              <label class="btn btn-sm btn-outline-secondary" for="false">False</label>

              <div class="valid-feedback mv-up">You selected a Product Flag!</div>
              <div class="invalid-feedback mv-up">Please select a Flag!</div>
            </div>

            <!--<div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required ngModel>
              <label class="form-check-label">I confirm that all data are correct</label>
              <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
            </div>-->


            <div class="form-button mt-3">
              <button id="submit" type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
