<h2 style="text-align:center">List of Employees</h2>
<div class="card-group">
  <div *ngFor="let emp of employee">
    <div class="col-lg-4">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" [src]="imgLink" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{emp.empName}}</h5>
          <h3>{{emp.position}}</h3>
          <p class="card-text">{{emp.salary}}</p>
          <button class="btn btn-primary" type="button" (click)="editEmp(emp.empNo)">Edit</button>
          <button class="btn btn-primary ml-3" type="button" (click)="deleteEmp(emp.empNo)">Delete</button><br>
        </div>
      </div>
    </div>
  </div>
</div>
