<h2 style="text-align:center">Chores List</h2>
<div class="card-group" *ngFor="let chores of choress">
  <div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="choresImg" alt="Card image cap">
        <div class="card-body">
          <button class="btn btn-primary card-title" (click)="navigateTo(chores.taskName)">Task Name : {{chores.taskName}}</button>
          <h4>Created By : {{chores.assignedBy}}</h4>
          <p class="card-text">Assigned To : {{chores.assignedTo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
